<!DOCTYPE html>
<html lang="es">
<head>
    <title>Crear Reparación</title>
    <link rel="stylesheet" href="/static/styles/styles.css">
</head>
<body>
    <h2>Crear Reparación</h2>

    <form action="/reparaciones/crear" method="POST">
        <div>
            <label for="id_equipo">Equipo:</label>
            <select name="id_equipo" required>
                <% equipos.forEach(equipo => { %>
                    <option value="<%= equipo.id_equipo %>">
                        <%= equipo.tipo %> - <%= equipo.marca %> - <%= equipo.modelo %>
                    </option>
                <% }) %>
            </select>
        </div>

        <div>
            <label for="id_tecnico">Técnico:</label>
            <select name="id_tecnico" required>
                <% tecnicos.forEach(tecnico => { %>
                    <option value="<%= tecnico.id_usuario %>"><%= tecnico.nombre %></option>
                <% }) %>
            </select>
        </div>

        <button type="submit">Crear Reparación</button>
    </form>

    <br>
    <a href="/reparaciones/cambiarestado">Cambiar Estado De Reparacion</a>
</body>
</html>